.example-card {
    max-width: 500px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.para{
    overflow: auto;
    height: 60px;
}

::-webkit-scrollbar{
    width: 5px;
}